<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>Fairtech</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->

	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="css/main.min.css" media="all">

</head>

<body id="isHome">

	<header class="header" id="company">
		<div class="container">
			<div class="header__top">
				<img class="header__logo" src="img/logo.svg" alt="logo">
				<div class="header__menu menu">
					<div class="menu__icon icon-menu">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="menu__body">
						<nav class="menu__nav">
							<ul class="menu__list">
								<li class="menu__item"><a href="#company" class="menu__link to-company active">О компании</a></li>
								<li class="menu__item"><a href="#decisions" class="menu__link to-decisions">Решения</a></li>
								<li class="menu__item"><a href="#vacancies" class="menu__link to-vacancies">Вакансии</a></li>
								<li class="menu__item"><a href="#contacts" class="menu__link to-contacts">Контакты</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="header__phone">
					<div class="phone">
						<img src="img/phone.svg" alt="">
						<a href="tel:88000000000" class="phone__number">8 800 000 00 00</a>
					</div>
				</div>
			</div>
			<div class="header__content">
				<div class="header__info">
					<h1 class="header__title">Современные и безопасные решения для бизнеса</h1>
					<h2 class="header__subtitle">Оптимально для финансовых компаний </h2>
					<p class="header__descr"><b>Компания Fairtech</b> (ООО “Честные технологии”) - это команда профессиональных IT-специалистов,  программистов, системных аналитиков, архитекторов и инженеров по тестированию ПО. <br> 
					Мы разрабатываем современные решения для бизнеса.   <br>
					Повышаем эффективность как отдельных бизнес-процессов, таки и результаты деятельности наших клиентов в целом.</p>
					<a href="#" class="header__button btn">Подробнее</a>
				</div>
				<div class="header__image">
					<img src="img/header-image.png" alt="">
				</div>
			</div>
		</div>
	</header>

	<main>
		<section class="advantages">
			<div class="container">
				<h2 class="advantages__title title title--white">Наши преимущества</h2>
				<div class="advantages__slider slider">
					<div class="advantages__items">
						<div class="advantages__item item">
							<img src="img/advantages/icon1.svg" alt="" class="item__image">
							<p class="item__text">Мы обеспечиваем полный цикл разработки программного обеспечения (ПО). Планирование, бизнес-анализ, дизайн, разработку, тестирование и поддержку.</p>
						</div>
						<div class="advantages__item item">
							<img src="img/advantages/icon2.svg" alt="" class="item__image">
							<p class="item__text">Наши специалисты входят в штат компании, обеспечивая полностью “in house” разработку ПО.</p>
						</div>
						<div class="advantages__item item">
							<img src="img/advantages/icon3.svg" alt="" class="item__image">
							<p class="item__text">Команда обладает многолетним  опытом  разработки высокозащищенных информационных систем для компаний fintech-отрасли.</p>
						</div>
						<div class="advantages__item item">
							<img src="img/advantages/icon4.svg" alt="" class="item__image">
							<p class="item__text">Мы применяем современные гибкие методологии разработки -  Agile, Scrum, Kanban.</p>
						</div>
						<div class="advantages__item item">
							<img src="img/advantages/icon5.svg" alt="" class="item__image">
							<p class="item__text">Обладаем опытом построения высоконагруженных (highload) систем.</p>
						</div>
						<div class="advantages__item item">
							<img src="img/advantages/icon6.svg" alt="" class="item__image">
							<p class="item__text">Являемся высококлассными специалистами по разработке и поддержки предиктивных системы с элементами искусственного интеллекта.</p>
						</div>
						<div class="advantages__item item">
							<img src="img/advantages/icon7.svg" alt="" class="item__image">
							<p class="item__text">Мы занимаемся разработкой аналитических систем на основе анализа “больших данных” (Big Data).</p>
						</div>
					</div>
					<div class="slider__arrow"></div>
				</div>
			</div>
		</section>

		<section class="decisions" id="decisions">
			<div class="container">
				<h2 class="decisions__title title">Решения</h2>
				<div class="decisions__item">
					<div class="decisions__info">
						<h3 class="decisions__info-title">CRM-система с финансовым модулем</h3>
						<p class="decisions__info-text">Программное обеспечение, предназначенное для автоматизации стратегий взаимодействия с клиентами, в частности для повышения уровня продаж и оценки эффективности маркетинговых активностей. CRM-система обеспечивает  автоматизацию и секьюритизацию бизнес-процессов, безопасное хранение и обработку данных, позволяет применять технологии противодействия мошенникам, является частью обустройства рабочего места персонала (софт).
						Финансовый модуль формирует показатели по денежным взаимоотношениям с клиентами и хранит все финансовые действия в виде уже совершенных и планируемых проводок, что позволяет получать не только расширенную информацию по счетам, но и проводить оценку на будущие даты, моделировать жизненный цикл, а также обеспечивать гибкое манипулирование проводками.</p>
					</div>
					<img class="decisions__image" src="img/decisions/decisions-1.png" alt="">
				</div>
				<div class="decisions__item">
					<img class="decisions__image" src="img/decisions/decisions-2.png" alt="">
					<div class="decisions__info">
						<h3 class="decisions__info-title">Кредитный конвейер</h3>
						<p class="decisions__info-text">Система определяющая кредитоспособность потенциального клиента. Алгоритм кредитного конвейера собирает и анализирует данные о заемщике с момента отправки заявки на предоставления кредита до принятия решения о выдаче денежных средств. </p>
					</div>
				</div>
				<div class="decisions__item">
					<div class="decisions__info">
						<h3 class="decisions__info-title">Система автоматического распределения должников по агентствам, работающим с просроченной задолженностью</h3>
						<p class="decisions__info-text">Модуль управления базой и личными делами должников организаций финансово-банковского сектора. Представляет собой специальный алгоритм позволяющий производить ретро-анализ эффективности деятельности агентств, работающих с просроченной задолженностью, и распределять личные дела должников между ними на основании полученных данных об эффективности каждого такого агентства за прошедший период.</p>
					</div>
					<img class="decisions__image" src="img/decisions/decisions-3.png" alt="">
				</div>
				<div class="decisions__item">
					<img class="decisions__image" src="img/decisions/decisions-4.png" alt="">
					<div class="decisions__info">
						<h3 class="decisions__info-title">Судебный модуль</h3>
						<p class="decisions__info-text">Система автоматизирующая юридический этап процесса взыскания просроченной задолженности. Позволяет подготавливать и передавать досье в суды. Алгоритм модуля сортирует документы для передачи дел в суд, осуществляя эффективное распределение личных дел клиентов на основании сроков просроченной задолженности, персональным данным и множеству иных  показателей.</p>
					</div>
				</div>
				<div class="decisions__item">
					<div class="decisions__info">
						<h3 class="decisions__info-title">Система распознавания изображений</h3>
						<p class="decisions__info-text">Модуль управления базой и личными делами должников организаций финансово-банковского сектора. Представляет собой специальный алгоритм позволяющий производить ретро-анализ эффективности деятельности агентств, работающих с просроченной задолженностью, и распределять личные дела должников между ними на основании полученных данных об эффективности каждого такого агентства за прошедший период.</p>
					</div>
					<img class="decisions__image" src="img/decisions/decisions-5.png" alt="">
				</div>
			</div>
		</section>

		<section class="vacancies" id="vacancies">
			<div class="container">
				<div class="vacancies__row">
					<h2 class="vacancies__title title title--white">Вакансии</h2>
					<ul class="vacancies__list">
						<li class="vacancies__item">
							<a href="#" class="vacancies__link">
								<h3 class="vacancies__link-title">Разработчик PHP / PHP Developer</h3>
								<span class="vacancies__info">
									<span class="vacancies__info-text">IT</span>
									<span class="vacancies__info-point">•</span>
									<span class="vacancies__info-text">Разработка</span>
									<span class="vacancies__info-point">•</span>
									<span class="vacancies__info-text">Москва</span>
									<span class="vacancies__info-point">•</span>
									<span class="vacancies__info-text">1-5 лет</span>
								</span>
							</a>
						</li>
						<li class="vacancies__item">
							<a href="#" class="vacancies__link">
								<h3 class="vacancies__link-title">Системный аналитик</h3>
								<span class="vacancies__info">
									<span class="vacancies__info-text">IT</span>
									<span class="vacancies__info-point">•</span>
									<span class="vacancies__info-text">Разработка</span>
									<span class="vacancies__info-point">•</span>
									<span class="vacancies__info-text">Москва</span>
									<span class="vacancies__info-point">•</span>
									<span class="vacancies__info-text">1-5 лет</span>
								</span>
							</a>
						</li>
						<li class="vacancies__item">
							<a href="#" class="vacancies__link">
								<h3 class="vacancies__link-title">Аналитик (SQL/Tableau)</h3>
								<span class="vacancies__info">
									<span class="vacancies__info-text">IT</span>
									<span class="vacancies__info-point">•</span>
									<span class="vacancies__info-text">Разработка</span>
									<span class="vacancies__info-point">•</span>
									<span class="vacancies__info-text">Москва</span>
									<span class="vacancies__info-point">•</span>
									<span class="vacancies__info-text">1-5 лет</span>
								</span>
							</a>
						</li>
					</ul>
					<div class="vacancies__message">
						<p class="vacancies__message-text">Если вы хотите у нас работать, но не нашли подходящей вакансии, вы можете направить ваше резюме в Отдел по работе с персоналом на почту <a class="vacancies__message-email" href="mailto:hr@4slovo.ru">hr@4slovo.ru</a> или заполнить форму обратной связи</p>
			
						<p class="vacancies__message-text">Ваше резюме будет добавлено в нашу базу данных. Ответственный за подбор персонала специалист свяжется с вами в случае возникновения подходящей вакансии.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="response">
			<div class="container">
				<div class="response__row">
					<h2 class="response__title">Откликнуться на вакансию</h2>
					<h3 class="response__subtitle">Расскажите нам о себе и мы обязательно свяжемся с вами</h3>
					<form class="vacancy__form">
						<div class="vacancy__form-wrap">
							<div class="vacancy__form-col">
								<div class="vacancy__form-item">
									<div class="vacancy__form-label">Ваша фамилия</div>
									<input type="text" class="vacancy__form-input" placeholder="Введите фамилию" required>
								</div>
							</div>
							<div class="vacancy__form-col">
								<div class="vacancy__form-item">
									<div class="vacancy__form-label">Ваше имя</div>
									<input type="text" class="vacancy__form-input" placeholder="Введите имя" required>
								</div>
							</div>
						</div>
						<div class="vacancy__form-wrap">
							<div class="vacancy__form-col">
								<div class="vacancy__form-item">
									<div class="vacancy__form-label">Ваше отчество</div>
									<input type="text" class="vacancy__form-input" placeholder="Введите отчество">
								</div>
							</div>
							<div class="vacancy__form-col">
								<div class="vacancy__form-item">
									<div class="vacancy__form-label">Моб. телефон</div>
									<input type="text" class="vacancy__form-input phone" required>
								</div>
							</div>
						</div>
						<div class="vacancy__dropzone">
							<div class="vacancy__dropzone-label">
								<div class="vacancy__dropzone-title">Прикрепить резюме</div>
							</div>
							<div class="vacancy__dropzone-body">
								<div class="vacancy__dropzone-message">
									<div class="vacancy__dropzone-input">
										<input type="file" name="file" class="file-upload-input input"
											onchange="readURL(this);" accept=".pdf,.docx,.doc">
									</div>
									<div class="vacancy__dropzone-message-title">
										Перетащите файлы сюда или нажмите (pdf, doc)
									</div>
								</div>
								<div class="vacancy__dropzone-upload">
									<div class="vacancy__dropzone-upload-message">
										<img class="vacancy__dropzone-upload-image" src="img/check.svg" alt="Ваше резюме">
										<div class="vacancy__dropzone-upload-message-text">Ваше резюме загружено</div>
									</div>
									<div class="vacancy__dropzone-upload-remove-wrap">
										<button type="button" onclick="removeUpload()"
											class="vacancy__dropzone-upload-remove">Удалить <span
												class="vacancy__dropzone-upload-title">Uploaded Image</span></button>
									</div>
								</div>
							</div>
						</div>
						<div class="vacancy__dropzone-link">
							<label for="dropzone-link" class="vacancy__dropzone-link-label label">Или вставьте ссылку на
								резюме hh.ru</label>
							<input type="text" name="dropzone-link" id="dropzone-link" class="dropzone-link vacancy__dropzone-link-input">
						</div>
						<div class="accept">
							<input type="checkbox" id="accept__privacy">
							<label for="accept__privacy">Я согласен с условиями обработки и использования моих персональных данных</label>
						</div>
						<button class="vacancy__btn btn btn--dark-blue">Отправить</button>
					</form>
				</div>
			</div>
		</section>

		<section class="contacts" id="contacts">
			<div class="container">
				<div class="contacts__row">
					<div class="contacts__box">
						<h2 class="contacts__title title">Контакты</h2>
						<div class="contacts__name">Fairtech (ООО “Честные технологии”) </div>
						<a class="contacts__link" href="www.fairtech.ru">www.fairtech.ru</a>
						<div class="contacts__info">
							<div class="contacts__addr contacts__location">127051, г. Москва, 1-й Колобовский пер, д. 6, стр.3</div>
							<div class="contacts__addr contacts__phone">тел.: <a href="tel:+74950000000">+7 495 000 00 00</a></div>
							<div class="contacts__addr contacts__mail">email: <a href="mailto:support@fairtech.ru">support@fairtech.ru</a></div>
						</div>
					</div>
					<div class="contacts__map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.4016758768034!2d37.61291560562487!3d55.768895309925846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a41d81e0031%3A0x31441cbfd54a6c2b!2zMS3QuSDQmtC-0LvQvtCx0L7QstGB0LrQuNC5INC_0LXRgC4sIDYg0YHRgtGA0L7QtdC90LjQtSAzLCDQnNC-0YHQutCy0LAsIDEyNzA1MQ!5e0!3m2!1sru!2sru!4v1616511329803!5m2!1sru!2sru" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer class="footer">
		<div class="container">
			<div class="footer__row">
				<img src="img/logo-white.svg" alt="" class="footer__logo">
				<div class="footer__box">
					<div class="footer__info">
						<div class="footer__addr footer__contacts">Контакты</div>
						<div class="footer__addr footer__mail">email: <a href="mailto:info@fairtech.ru">info@fairtech.ru</a></div>
						<div class="footer__addr footer__phone">phone: <a href="tel:+88888898888">8 (888) 889-88-88</a></div>
					</div>
					<div class="footer__menu">
						<div class="footer__col">
							<a href="#company" class="footer__link to-company">О компании</a>
							<a href="#decisions" class="footer__link to-decisions">Решения</a>
						</div>
						<div class="footer__col">
							<a href="#vacancies" class="footer__link to-vacancies">Вакансии</a>
							<a href="#contacts" class="footer__link to-contacts">Контакты</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer__copyright">© Fairtech.ru  Все права защищены.</div>
		</div>
	</footer>



	<script src="js/scripts.min.js"></script>

</body>

</html>